{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center display-1">404 - Page not found</h1>

    <p>
        La page que vous recherchez semble introuvable, <a href="{{ path('homepage') }}">retouner à l'accueil</a>.
    </p>
{% endblock %}