{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center display-1">403 - Forbidden</h1>

    <p>
        Vous n'avez pas les droits pour accèder à cette page, <a href="{{ path('homepage') }}">retouner à l'accueil</a>.
    </p>
{% endblock %}